body {
   height: 80vh;
   font-family: Arial, Helvetica, sans-serif;
   display: grid;
   place-items: center;
}

.container {
   width: 50%;
}

.container .title {
   display: flex;
   height: 40px;
   align-items: center;
}

.container .title span {
   --size: 5px;
   align-self: flex-end;
   display: block;
   width: 1px;
   height: 45px;
   animation: typing .8s infinite;
}

@keyframes typing {
   from {
      border-right: var(--size);
   }

   to {
      border-right: var(--size) solid black;
   }
}